.header {
  grid-column: full-start / full-end;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    color: $color-soft-red;
  }

  &__mobile-nav {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 99;
  }

  &__icon-close {
    display: none;
  }

  @media only screen and (max-width: $bp-small) {
    &__item {
      position: absolute;
      top: 0;
      right: -1.2rem;
      background-color: rgba($color-Off-white, 0.93);
      width: 70%;
      height: 100vh;
      flex-direction: column;
      align-items: flex-start;
      // justify-content: center;
      padding: 9.6rem 3.2rem;
      backdrop-filter: blur(5px);
      transform: translateX(100%);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all 0.5s ease-in-out;
    }

    &__mobile-nav {
      display: block;
    }

    &.header-open {
      .header__item {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
      }

      .header__icon-close {
        display: block;
      }

      .header__icon-menu {
        display: none;
      }
    }
  }
}
